body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:239px;
  top:20px;
  width:1050px;
  height:102px;
  font-size:39px;
  color:#1E1E1E;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:102px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:135px;
  width:1310px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1310px;
  height:1px;
}
#u3 {
  position:absolute;
  left:190px;
  top:310px;
  width:274px;
  height:189px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:189px;
}
#u4 {
  position:absolute;
  left:2px;
  top:86px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:204px;
  top:509px;
  width:1046px;
  height:496px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1046px;
  height:496px;
}
#u6 {
  position:absolute;
  left:464px;
  top:444px;
  width:177px;
  height:45px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:55px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:173px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:464px;
  top:379px;
  width:175px;
  height:50px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:640px;
  top:379px;
  width:584px;
  height:50px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:878px;
  top:460px;
  width:90px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u12 {
  position:absolute;
  left:204px;
  top:1039px;
  width:70px;
  height:62px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:62px;
}
#u13 {
  position:absolute;
  left:2px;
  top:23px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:284px;
  top:1053px;
  width:140px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:164px;
  top:10px;
  width:136px;
  height:105px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:105px;
}
#u17 {
  position:absolute;
  left:2px;
  top:44px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1037px;
  top:1031px;
  width:190px;
  height:88px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:98px;
}
#u19 {
  position:absolute;
  left:2px;
  top:36px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1052px;
  top:1051px;
  width:164px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:70px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:314px;
  top:177px;
  width:290px;
  height:90px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:286px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:542px;
  top:175px;
  width:310px;
  height:90px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:306px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:239px;
  top:170px;
  width:107px;
  height:104px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:104px;
}
#u27 {
  position:absolute;
  left:2px;
  top:44px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:851px;
  top:176px;
  width:320px;
  height:90px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:641px;
  top:444px;
  width:237px;
  height:45px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:968px;
  top:444px;
  width:256px;
  height:45px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
