body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:202px;
  top:392px;
  width:348px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:19px;
  width:344px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:768px;
  top:201px;
  width:42px;
  height:39px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:768px;
  top:636px;
  width:42px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1080px;
  top:626px;
  width:70px;
  height:62px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:62px;
}
#u7 {
  position:absolute;
  left:2px;
  top:23px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1160px;
  top:640px;
  width:170px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:550px;
  top:425px;
  width:120px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u11 {
  position:absolute;
  left:660px;
  top:218px;
  width:10px;
  height:432px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:415px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:432px;
}
#u12 {
  position:absolute;
  left:664px;
  top:648px;
  width:104px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u13 {
  position:absolute;
  left:664px;
  top:210px;
  width:104px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u14 {
  position:absolute;
  left:768px;
  top:339px;
  width:42px;
  height:39px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:664px;
  top:348px;
  width:104px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u17 {
  position:absolute;
  left:768px;
  top:411px;
  width:42px;
  height:39px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:664px;
  top:425px;
  width:104px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u20 {
  position:absolute;
  left:164px;
  top:10px;
  width:136px;
  height:105px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:105px;
}
#u21 {
  position:absolute;
  left:2px;
  top:44px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:220px;
  top:33px;
  width:1050px;
  height:102px;
  font-size:39px;
  color:#1E1E1E;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:102px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:20px;
  top:135px;
  width:1310px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:1293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1310px;
  height:1px;
}
#u25 {
  position:absolute;
  left:149px;
  top:698px;
  width:1134px;
  height:147px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:147px;
}
#u26 {
  position:absolute;
  left:2px;
  top:66px;
  width:1130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  cursor:pointer;
  position:absolute;
  left:820px;
  top:188px;
  width:200px;
  height:69px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:69px;
}
#u28 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  cursor:pointer;
  position:absolute;
  left:872px;
  top:208px;
  width:128px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u31 {
  cursor:pointer;
  position:absolute;
  left:820px;
  top:320px;
  width:200px;
  height:69px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:69px;
}
#u32 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  cursor:pointer;
  position:absolute;
  left:872px;
  top:340px;
  width:128px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u35 {
  cursor:pointer;
  position:absolute;
  left:820px;
  top:397px;
  width:200px;
  height:69px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:69px;
}
#u36 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  cursor:pointer;
  position:absolute;
  left:872px;
  top:420px;
  width:108px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:57px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u39 {
  cursor:pointer;
  position:absolute;
  left:820px;
  top:614px;
  width:200px;
  height:69px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:69px;
}
#u40 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  cursor:pointer;
  position:absolute;
  left:872px;
  top:634px;
  width:108px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:57px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
