body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  cursor:pointer;
  position:absolute;
  left:468px;
  top:181px;
  width:100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:658px;
  top:182px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:399px;
  top:260px;
  width:168px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:481px;
  top:308px;
  width:86px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:481px;
  top:368px;
  width:86px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:481px;
  top:428px;
  width:86px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:515px;
  top:486px;
  width:52px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:515px;
  top:543px;
  width:52px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:481px;
  top:648px;
  width:86px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:481px;
  top:596px;
  width:86px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:515px;
  top:690px;
  width:52px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:585px;
  top:308px;
  width:266px;
  height:32px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:585px;
  top:368px;
  width:266px;
  height:32px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:585px;
  top:428px;
  width:266px;
  height:32px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:585px;
  top:480px;
  width:266px;
  height:32px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:585px;
  top:538px;
  width:266px;
  height:32px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:585px;
  top:590px;
  width:266px;
  height:32px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:585px;
  top:638px;
  width:266px;
  height:32px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:585px;
  top:688px;
  width:266px;
  height:32px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:585px;
  top:748px;
  width:266px;
  height:32px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30_input:disabled {
  color:grayText;
}
#u31 {
  position:absolute;
  left:481px;
  top:748px;
  width:86px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:873px;
  top:308px;
  width:218px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:32px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:873px;
  top:368px;
  width:208px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:873px;
  top:428px;
  width:86px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u39 {
  cursor:pointer;
  position:absolute;
  left:930px;
  top:820px;
  width:70px;
  height:62px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:62px;
}
#u40 {
  position:absolute;
  left:2px;
  top:23px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  cursor:pointer;
  position:absolute;
  left:1010px;
  top:834px;
  width:170px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:164px;
  top:10px;
  width:136px;
  height:105px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:105px;
}
#u44 {
  position:absolute;
  left:2px;
  top:44px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:220px;
  top:33px;
  width:1050px;
  height:102px;
  font-size:39px;
  color:#1E1E1E;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:102px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:20px;
  top:135px;
  width:1310px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:1293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1310px;
  height:1px;
}
#u48 {
  position:absolute;
  left:108px;
  top:890px;
  width:1134px;
  height:147px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:147px;
}
#u49 {
  position:absolute;
  left:2px;
  top:66px;
  width:1130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  cursor:pointer;
  position:absolute;
  left:726px;
  top:829px;
  width:154px;
  height:45px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
}
#u51 {
  position:absolute;
  left:2px;
  top:14px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  cursor:pointer;
  position:absolute;
  left:766px;
  top:843px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:378px;
  top:186px;
  width:90px;
  height:22px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u55 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:568px;
  top:186px;
  width:90px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:30px;
  top:181px;
  width:38px;
  height:31px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u59 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  cursor:pointer;
  position:absolute;
  left:78px;
  top:181px;
  width:110px;
  height:30px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u62 {
  cursor:pointer;
  position:absolute;
  left:278px;
  top:182px;
  width:100px;
  height:30px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:188px;
  top:186px;
  width:90px;
  height:22px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u65 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
