body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:202px;
  top:392px;
  width:348px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:19px;
  width:344px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:768px;
  top:241px;
  width:32px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:768px;
  top:418px;
  width:32px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:768px;
  top:578px;
  width:32px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  cursor:pointer;
  position:absolute;
  left:1000px;
  top:631px;
  width:70px;
  height:62px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:62px;
}
#u9 {
  position:absolute;
  left:2px;
  top:23px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  cursor:pointer;
  position:absolute;
  left:1080px;
  top:645px;
  width:170px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:550px;
  top:425px;
  width:110px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u13 {
  position:absolute;
  left:660px;
  top:250px;
  width:10px;
  height:350px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:333px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:350px;
}
#u14 {
  position:absolute;
  left:660px;
  top:425px;
  width:104px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u15 {
  position:absolute;
  left:664px;
  top:590px;
  width:104px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u16 {
  position:absolute;
  left:664px;
  top:250px;
  width:104px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u17 {
  cursor:pointer;
  position:absolute;
  left:78px;
  top:181px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:278px;
  top:182px;
  width:100px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:164px;
  top:10px;
  width:136px;
  height:105px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:105px;
}
#u22 {
  position:absolute;
  left:2px;
  top:44px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:220px;
  top:33px;
  width:1050px;
  height:102px;
  font-size:39px;
  color:#1E1E1E;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:102px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:20px;
  top:135px;
  width:1310px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:1293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1310px;
  height:1px;
}
#u26 {
  position:absolute;
  left:30px;
  top:703px;
  width:1134px;
  height:147px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:147px;
}
#u27 {
  position:absolute;
  left:2px;
  top:66px;
  width:1130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  cursor:pointer;
  position:absolute;
  left:810px;
  top:221px;
  width:190px;
  height:65px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:65px;
}
#u29 {
  position:absolute;
  left:2px;
  top:24px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  cursor:pointer;
  position:absolute;
  left:859px;
  top:240px;
  width:103px;
  height:53px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:53px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u32 {
  cursor:pointer;
  position:absolute;
  left:810px;
  top:396px;
  width:190px;
  height:65px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:65px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  cursor:pointer;
  position:absolute;
  left:859px;
  top:415px;
  width:131px;
  height:53px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:53px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u36 {
  cursor:pointer;
  position:absolute;
  left:810px;
  top:559px;
  width:190px;
  height:65px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:65px;
}
#u37 {
  position:absolute;
  left:2px;
  top:24px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  cursor:pointer;
  position:absolute;
  left:859px;
  top:578px;
  width:103px;
  height:53px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:53px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:188px;
  top:186px;
  width:90px;
  height:22px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u41 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:181px;
  width:38px;
  height:31px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
