body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:164px;
  top:10px;
  width:136px;
  height:105px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:105px;
}
#u1 {
  position:absolute;
  left:2px;
  top:44px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:33px;
  width:1050px;
  height:102px;
  font-size:39px;
  color:#1E1E1E;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:102px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:135px;
  width:1310px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1310px;
  height:1px;
}
#u5 {
  position:absolute;
  left:133px;
  top:198px;
  width:199px;
  height:64px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#FF9900;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:64px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:550px;
  top:198px;
  width:10px;
  height:434px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:417px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:434px;
}
#u8 {
  position:absolute;
  left:133px;
  top:300px;
  width:266px;
  height:32px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:133px;
  top:364px;
  width:266px;
  height:32px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:40px;
  top:300px;
  width:80px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
	cursor:pointer;
  position:absolute;
  left:40px;
  top:364px;
  width:66px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:103px;
  top:441px;
  width:147px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:740px;
  top:274px;
  width:390px;
  height:285px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:285px;
}
#u17 {
  position:absolute;
  left:2px;
  top:134px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:300px;
  top:433px;
  width:40px;
  height:32px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:340px;
  top:420px;
  width:40px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:318px;
  top:274px;
  width:102px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:638px;
  top:212px;
  width:32px;
  height:34px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u25 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:680px;
  top:212px;
  width:152px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:790px;
  top:569px;
  width:310px;
  height:46px;
  font-size:18px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:46px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:133px;
  top:198px;
  width:46px;
  height:48px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:48px;
}
#u31 {
  position:absolute;
  left:2px;
  top:16px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  cursor:pointer;
  position:absolute;
  left:47px;
  top:488px;
  width:130px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:80px;
  top:497px;
  width:70px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u35 {
	cursor:pointer;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:269px;
  top:488px;
  width:130px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  cursor:pointer;
  position:absolute;
  left:288px;
  top:497px;
  width:91px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:20px;
  top:642px;
  width:1280px;
  height:97px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:97px;
}
#u41 {
  position:absolute;
  left:2px;
  top:40px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
