body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:658px;
  top:182px;
  width:100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:320px;
  top:270px;
  width:188px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:508px;
  top:270px;
  width:200px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4_input:disabled {
  color:grayText;
}
#u5 {
  position:absolute;
  left:382px;
  top:322px;
  width:126px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:32px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:506px;
  top:322px;
  width:202px;
  height:30px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:164px;
  top:10px;
  width:136px;
  height:105px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:105px;
}
#u9 {
  position:absolute;
  left:2px;
  top:44px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:220px;
  top:33px;
  width:1050px;
  height:102px;
  font-size:39px;
  color:#1E1E1E;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:102px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:135px;
  width:1310px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:1293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1310px;
  height:1px;
}
#u13 {
  position:absolute;
  left:108px;
  top:493px;
  width:1134px;
  height:147px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:147px;
}
#u14 {
  position:absolute;
  left:2px;
  top:66px;
  width:1130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  cursor:pointer;
  position:absolute;
  left:586px;
  top:400px;
  width:154px;
  height:45px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  cursor:pointer;
  position:absolute;
  left:626px;
  top:413px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:568px;
  top:186px;
  width:90px;
  height:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:30px;
  top:181px;
  width:38px;
  height:31px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  cursor:pointer;
  position:absolute;
  left:900px;
  top:400px;
  width:70px;
  height:62px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:62px;
}
#u24 {
  position:absolute;
  left:2px;
  top:23px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  cursor:pointer;
  position:absolute;
  left:980px;
  top:414px;
  width:170px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u27 {
  cursor:pointer;
  position:absolute;
  left:468px;
  top:181px;
  width:100px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:378px;
  top:186px;
  width:90px;
  height:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  cursor:pointer;
  position:absolute;
  left:78px;
  top:181px;
  width:110px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u33 {
  cursor:pointer;
  position:absolute;
  left:278px;
  top:182px;
  width:100px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:188px;
  top:186px;
  width:90px;
  height:22px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u36 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
