body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  cursor:pointer;
  position:absolute;
  left:637px;
  top:247px;
  width:32px;
  height:32px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  cursor:pointer;
  position:absolute;
  left:637px;
  top:361px;
  width:32px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  cursor:pointer;
  position:absolute;
  left:640px;
  top:481px;
  width:32px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  cursor:pointer;
  position:absolute;
  left:78px;
  top:181px;
  width:110px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:468px;
  top:182px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  cursor:pointer;
  position:absolute;
  left:640px;
  top:611px;
  width:32px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:354px;
  top:440px;
  width:120px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:42px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:461px;
  top:450px;
  width:50px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u15 {
  position:absolute;
  left:501px;
  top:300px;
  width:10px;
  height:370px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:353px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:370px;
}
#u16 {
  position:absolute;
  left:506px;
  top:296px;
  width:70px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u17 {
  position:absolute;
  left:509px;
  top:530px;
  width:70px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u18 {
  position:absolute;
  left:506px;
  top:660px;
  width:73px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:56px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:73px;
  height:1px;
}
#u19 {
  position:absolute;
  left:506px;
  top:410px;
  width:68px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:1px;
}
#u20 {
  cursor:pointer;
  position:absolute;
  left:815px;
  top:621px;
  width:70px;
  height:62px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:62px;
}
#u21 {
  position:absolute;
  left:2px;
  top:23px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  cursor:pointer;
  position:absolute;
  left:895px;
  top:635px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u24 {
  cursor:pointer;
  position:absolute;
  left:278px;
  top:182px;
  width:100px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:164px;
  top:10px;
  width:136px;
  height:105px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:105px;
}
#u27 {
  position:absolute;
  left:2px;
  top:44px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:220px;
  top:33px;
  width:1050px;
  height:102px;
  font-size:39px;
  color:#1E1E1E;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:102px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:135px;
  width:1310px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:1293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1310px;
  height:1px;
}
#u31 {
  position:absolute;
  left:20px;
  top:693px;
  width:1134px;
  height:147px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:147px;
}
#u32 {
  position:absolute;
  left:2px;
  top:66px;
  width:1130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  cursor:pointer;
  position:absolute;
  left:576px;
  top:276px;
  width:154px;
  height:45px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  cursor:pointer;
  position:absolute;
  left:616px;
  top:289px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u37 {
  cursor:pointer;
  position:absolute;
  left:576px;
  top:390px;
  width:154px;
  height:45px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  cursor:pointer;
  position:absolute;
  left:616px;
  top:403px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u41 {
  cursor:pointer;
  position:absolute;
  left:579px;
  top:510px;
  width:154px;
  height:45px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  cursor:pointer;
  position:absolute;
  left:619px;
  top:523px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u45 {
  cursor:pointer;
  position:absolute;
  left:579px;
  top:640px;
  width:154px;
  height:45px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  cursor:pointer;
  position:absolute;
  left:619px;
  top:653px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:188px;
  top:186px;
  width:90px;
  height:22px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u50 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:378px;
  top:186px;
  width:90px;
  height:22px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u52 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:30px;
  top:181px;
  width:38px;
  height:31px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
