body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:679px;
  top:253px;
  width:450px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:42px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:740px;
  top:345px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:630px;
  top:345px;
  width:90px;
  height:30px;
  font-size:20px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:740px;
  top:385px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:660px;
  top:385px;
  width:60px;
  height:30px;
  font-size:20px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:164px;
  top:10px;
  width:136px;
  height:105px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:105px;
}
#u9 {
  position:absolute;
  left:2px;
  top:44px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:220px;
  top:33px;
  width:1050px;
  height:102px;
  font-size:39px;
  color:#1E1E1E;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:102px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:135px;
  width:1310px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:1293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1310px;
  height:1px;
}
#u13 {
  position:absolute;
  left:770px;
  top:469px;
  width:140px;
  height:71px;
  font-size:36px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:71px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:98px;
  top:219px;
  width:266px;
  height:63px;
  font-size:36px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:63px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:262px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:98px;
  top:329px;
  width:266px;
  height:63px;
  font-size:36px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:63px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:262px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:84px;
  top:439px;
  width:296px;
  height:63px;
  font-size:36px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:63px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:292px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:107px;
  top:537px;
  width:250px;
  height:63px;
  font-size:36px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:181px;
  top:282px;
  width:100px;
  height:46px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u24 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:182px;
  top:393px;
  width:100px;
  height:46px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u26 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:182px;
  top:502px;
  width:100px;
  height:35px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:17px;
  top:537px;
  width:80px;
  height:60px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u30 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
