body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:239px;
  top:20px;
  width:1050px;
  height:102px;
  font-size:39px;
  color:#1E1E1E;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:102px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:135px;
  width:1310px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1310px;
  height:1px;
}
#u3 {
  position:absolute;
  left:430px;
  top:380px;
  width:870px;
  height:80px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:199px;
  top:380px;
  width:221px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:217px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:430px;
  top:530px;
  width:870px;
  height:110px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:110px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:199px;
  top:530px;
  width:221px;
  height:110px;
  font-size:28px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:120px;
}
#u8 {
  position:absolute;
  left:2px;
  top:38px;
  width:217px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:199px;
  top:722px;
  width:70px;
  height:62px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:62px;
}
#u10 {
  position:absolute;
  left:2px;
  top:23px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:279px;
  top:736px;
  width:140px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#6B6B6B;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:164px;
  top:10px;
  width:136px;
  height:105px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:105px;
}
#u14 {
  position:absolute;
  left:2px;
  top:44px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:980px;
  top:692px;
  width:320px;
  height:120px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:130px;
}
#u16 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1024px;
  top:728px;
  width:232px;
  height:86px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:86px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:756px;
  top:197px;
  width:320px;
  height:90px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1014px;
  top:197px;
  width:248px;
  height:90px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:100px;
}
#u22 {
  position:absolute;
  left:2px;
  top:24px;
  width:244px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:215px;
  top:197px;
  width:290px;
  height:90px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:286px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:444px;
  top:196px;
  width:310px;
  height:90px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:140px;
  top:190px;
  width:107px;
  height:104px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:104px;
}
#u28 {
  position:absolute;
  left:2px;
  top:44px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
